<ion-header>
  <ion-toolbar>
    <ion-title>Cadastro de Usuários</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">

  <ion-list class="animate__wobble">
    <ion-item *ngIf="users.length < 1">
      <ion-label> Não há tarefas</ion-label>
      </ion-item>
    <ion-item-sliding *ngFor="let user of users">
      <ion-item (click)="openActions(user)">
        <ion-label *ngIf="!user.done">{{user.name}}</ion-label>
        <ion-label *ngIf="user.done"><del>{{user.name}}</del></ion-label>
        <ion-icon slot="start" name="radio-button-off" *ngIf="!user.done"></ion-icon>
        <ion-icon slot="start" name="checkmark-circle" color="sucess" *ngIf="user.done"></ion-icon>
      </ion-item>
      <ion-item-options side="start">
        <ion-item-option (click)="delet(user)" color="dark">Excluir</ion-item-option>
      </ion-item-options>
    </ion-item-sliding>

   </ion-list>

<ion-fab vertical="bottom" horizontal="end" slot="fixed" >
  <ion-fab-button (click)="showAdd()" class="add-button">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>

</ion-fab>
</ion-content>
